<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.io.mouli.vhal_demo_app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.car.permission.CAR_POWERTRAIN"/>
    <uses-permission android:name="android.car.permission.CONTROL_CAR_DOORS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.car.permission.CAR_VENDOR_EXTENSION"/>
    <uses-permission android:name="android.car.permission.CAR_SPEED"/>
    <!-- Writing exterior / work-light style properties often requires this on AAOS -->
    <uses-permission android:name="android.car.permission.CONTROL_CAR_EXTERIOR_LIGHTS"/>
    <uses-permission android:name="android.car.permission.CAR_EXTERIOR_LIGHTS"/>
    <!-- Required for EV_BATTERY_LEVEL, EV_CURRENT_BATTERY_CAPACITY and EV_CHARGE_STATE -->
    <uses-permission android:name="android.car.permission.CAR_ENERGY"/>
    <!-- Required for EV_CHARGE_PORT_OPEN / EV_CHARGE_PORT_CONNECTED -->
    <uses-permission android:name="android.car.permission.CAR_ENERGY_PORTS"/>
    <!-- Required for INFO_EV_PORT_LOCATION -->
    <uses-permission android:name="android.car.permission.CAR_INFO"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eavx_demo_app"
        tools:targetApi="31">
        <activity
            android:name=".DemoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver android:name="com.io.mouli.vhal_demo_app.receiver.BootCompleteReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name= "android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.io.mouli.vhal_demo_app.service.CarPropertyServiceManager"
            android:exported="false"/>
    </application>

</manifest>